.burger-wrapper {
  border-radius: 10px;
  transition: background-color linear 0.3s;
  padding: 10px;
  z-index: 110;
  @include hover {
    background-color: var(--color-accent);
  }

  &__button {
    @include reset-button;
    display: flex;

    /* position: fixed; */
    cursor: pointer;
    position: relative;

    border: none;
    @include square(var(--burger-btn-size));

    border-radius: var(--border-radius-small);
    cursor: pointer;

    position: relative;

    &__line {
      display: block;
      width: 50%;
      height: 3px;
      background-color: var(--color-dark);
      border-radius: 5px;
    }

    &::after,
    &::before {
      content: "";
      left: 0;
      position: absolute;
      display: block;
      width: 100%;
      height: 3px;
      border-radius: 10px;
      background-color: #000;
    }
    &::before {
      top: 0;
      box-shadow: 0 9px 0 #000;
      transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s;
    }
    &::after {
      transition: bottom 0.3s 0.15s, transform 0.3s;
      bottom: 0;
    }
  }

  @include hover {
    background-color: var(--color-accent);
  }

  &.menu-is-visible ~ .mobile-overlay {
    top: 0%;
  }

  &.menu-is-visible > &__button::before {
    top: 9px;
    transform: rotate(45deg);
    box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
    transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s;
  }
  &.menu-is-visible > &__button::after {
    bottom: 9px;
    transform: rotate(-45deg);
    transition: bottom 0.3s, transform 0.3s 0.15s;
  }
}
