.mobile-overlay {
  transition: all 0.5s ease;
  width: 100dvw;
  height: 100dvh;
  margin: 0;
  right: 0;
  border: none;
  position: fixed;
  height: 100%;
  margin: 0;
  top: -100%;
  transform-origin: 0 0;
  background-color: var(--color-light);
  z-index: 102;

  &__list {
    @include flex-center;

    flex-direction: column;
    row-gap: 30px;
    min-height: 80vh;
  }
}
